.test1 .dugme-test1,.test1 .dugme1-test1 {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #acacac;
    height: 120px;
    width: 120px;
    transition: 200ms all ease;
}
.dugme-test1-boja {
	background: #03a9f4 !important;
	color: #fff
}
.dugme-test1:hover,.dugme1-test1:hover, .img-test1:hover, .img1-test1:hover {
	box-shadow: 0px 0px 3px 1px #03a9f4
}
.img-test1,.img1-test1 {
	cursor: pointer;
}
.img-test1-boja {
	box-shadow: 0px 0px 3px 1px #03a9f4
}


