
@media (max-width: 1200px) { 
	#themeSlider, .carousel-inner, .item img {
	    height: 810px !important
	}
}


@media (max-width: 992px) { 
	#themeSlider, .carousel-inner, .item img {
	    height: 810px !important
	}

}


@media (max-width: 768px) { 
	#themeSlider, .carousel-inner, .item img {
	    height: 720px !important
	}
	.welcome2 {
	    font-size: 30px;
	    margin: 0 0 36px;
	}
	.anchor {
	    clear: both;
	    padding-top: 30px;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	    background: #f4f4f4 none repeat scroll 0 0;
	    border: 0 none;
	}
	.navbar-collapse .navbar-nav > li > a {
	    color: #5c5c5c !important;
	}
	.navbar-default .navbar-toggle .icon-bar {
	    background-color: #fff;
	}
	.timeline-line:after, .timeline-line:before {
	    display: none;
	}
   .home .text-right, .home .text-left, .text-timeline {
   		text-align: left;
   }

}


@media (max-width: 576px) {  
	.lastA::after {
		display: none
	}
	#themeSlider, .carousel-inner, .item img {
	    height: 640px !important
	}
	#form-signin {
	    width: 100%;
	}
	#form-signin .col-xs-3 {
	    padding: 0 10px;
	}
	#form-signin .col-xs-3.first-xs {
	    padding: 0 10px 0 15px;
	}
	#form-signin .col-xs-3.last-xs {
	    padding: 0 15px 0 10px;
	}
	.selectric .button {
	    width: 28px;
	}
	.selectric .label {
	    margin: 0 18px 0 0;
	}
	#athc {
	    height: 51px;
	    right: 10px;
	    top: -17px;
	    width: 57px;
	}
	.main-text {
	    top: 70px;
	}
	.checkbox-inline, .radio-inline {
	    padding-left: 0;
	}
	.timeline-line:after, .timeline-line:before {
	    display: none;
	}
	.anchor {
	    display: none;
   }
   .home .text-right, .home .text-left, .text-timeline {
   		text-align: center;
   }
   .text-timeline {
	    padding: 20px 15px 84px;
	}
	.box-footer {
	    padding: 35px 15px 15px;
	    text-align: center;
	}
	.box-footer::after {
	    left: 33%;
	    top: -80px;
	}
	.footer ul {
	    margin: 60px auto 10px;
	}
	.footer .nav.navbar-nav a {
	    font-size: 13px;
	    padding: 15px;
	}

	/* Test */
	#msform {
	    width: 100%;
	}
	#msform input.btn-signin {
		background-size: 16% auto;
	}
	#msform input.btn-signin.previous {
	    font-size: 15px;
	    width: 90px;
	    padding: 5px 10px
	}
	#msform input.btn-signin {
	    background-size: 26% auto;
	    font-size: 15px;
	    padding: 15px;
	    width: 120px;
	}
	.neg-margin {
		margin: 0 -20px 20px !important
	}

	.checkbox label, .radio label {
	    padding: 0 0 10px 15px;
	}
	#msform fieldset .test2 .col-xs-6.col-sm-8 {
	    padding-right: 5px;
	}
	.row.test5 > div > div {
		width: 84%;
	}

	#medjustrana.active {
		transform: scale(.8);
		right: 0px
	}

	/* Results */
	.stars {
	    background: rgba(0, 0, 0, 0) url("images/result-star-disab-bg.png") no-repeat scroll center center / 310px auto;
	    width: 320px;
	}
	.star > img {
	    width: 49px;
	}

	.tree.img-box > div {
	    padding: 0;
	}

	.radio.radio-inline label {
	    line-height: 15px;
	    margin-top: 5px;
	}
	.radio.radio-inline label::before, .radio.radio-inline label::after {
		margin-top: -5px
	}
	.result-box h1 {
	    font-size: 27px;
	}
	.row.test6 input[type="text"] {
		width: 80px !important
	}
	.test2.testt .col-xs-6 {
	    padding: 0px 2px;
	}

}

@media (max-width: 360px) { 
	.results .btn-def {
	    width: 100% !important;
	    font-size: 19px;
	}
	.row.test6 input[type="text"] {
	    margin: 0 5px 5px !important;
	    font-size: 13px !important;
	    height: auto;
	}
}

@media (max-width: 340px) {  
	#msform fieldset {
	    padding: 10px 5px;
	}
	.big-title-mob {
	    font-size: 26px !important;
	}
	.stars {
	    background: rgba(0, 0, 0, 0) url("images/result-star-disab-bg.png") no-repeat scroll center center / 276px auto;
	    width: 286px;
	}
	.star > img {
	    width: 44px;
	}
}

