html {
    min-height: 100%;
    position: relative;
}
body {
    font-family: 'Montserrat', sans-serif;
    background: #f4f4f4;
    padding: 0;
    margin: 0 0 60px;
    color: #4c4c4c;
    font-size: 1.4em;
}

.navbar-static-top {
  margin-bottom: 0;
}

img {
    max-width: 100%;
}

a {
    color: #dfb248;
    text-decoration: none;
}
a:hover, a:active, a:focus {
    color: #cfa238
}

.small, small {
    font-size: 76%;
}

.upp {
    text-transform: uppercase;
}

.h3, h3 {
    font-size: 32px;
}
p {
    font-weight: 300;
    line-height: 1.6em;
    margin: 0 0 10px;
}

.caveat {
    font-family: 'Caveat', cursive;
}

.colorWh {
    color: #fff
}
.colorBl {
    color: #02a9f3
}
.colorYl {
    color: #dfb248
}

.bold {
    font-weight: 600;
}
.under {
    text-decoration: underline;
}
img.center {
    display: block;
    margin: 0 auto;
}





/*======================== NAVIGATION ==========================*/
.navbar {
    padding-top: 10px;
}
.navbar-brand {
    height: auto;
    padding: 5px;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 13px;
    font-weight: 600;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: #e7e7e7;
    color: #f5f5f5;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    background-color: transparent;
    color: #ccc;
}
.lastA {
    position: relative;
}
.lastA::after {
    border: 1px solid #fff;
    border-radius: 50px;
    bottom: 0;
    box-sizing: content-box;
    content: "";
    left: 0;
    margin: 7% 0;
    position: absolute;
    right: 0;
    top: 0;
}





/*======================== CAROUSEL & FIRST ==========================*/
#themeSlider {
    top: -80px;
}
.main-text {
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 8vw;
}
#form-signin {
    background: #fff url(images/forma-atch.png) repeat scroll 0 0;
    margin: 0 auto;
    position: relative;
    width: 460px;
    z-index: 1;
}
#form-signin > div {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    padding: 15px;
    position: relative;
    z-index: 1;
}
#form-signin h3 {
    margin: 10px 0 20px;
}
#form-signin::after {
    left: auto;
    right: 10px;
}
#form-signin::before, #form-signin::after {
    background: rgba(64, 64, 64, 0.1) none repeat scroll 0 0;
    border-radius: 5px;
    bottom: 0;
    content: "";
    height: 100%;
    left: -4px;
    position: absolute;
    right: 0;
    top: 4px;
    transform: rotate(1.3deg);
    width: 102%;
    z-index: 0;
}
#athc {
    background: rgba(0, 0, 0, 0) url("images/forma-atch.png") no-repeat scroll 0 0 / cover ;
    height: 69px;
    position: absolute;
    right: 50px;
    top: -23px;
    width: 77px;
    z-index: 2;
}
.anchor {
    clear: both;
    padding-top: 60px;
}
.btn-primary {
    background-color: #dfb248;
    border-color: #cfa238;
    color: #fff;
    font-family: "Montserrat",sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.btn-primary:hover {
    background-color: #cfa238;
    border-color: #bf9228;
    color: #fff;
}
.form-control {
    background-color: #f0ede6;
    border: 0 none;
    box-shadow: none;
    font-size: 13px;
    height: 50px;
    line-height: 2.42857;
    margin-bottom: 15px;
    padding: 16px 12px;
}
.modal-txt {
    padding: 6px 0; 
    background: rgba(0, 0, 0, 0) none repeat scroll 0px center; 
    color: #337ab7; 
    white-space: pre-line; 
    text-align: left; 
    border: 0px none; 
    display: block; 
    line-height: 10px; 
    font-size: 12px;
}
.modal-txt:hover, .modal-txt:focus, .modal-txt:active {
    background: #fff !important;
    color: #337ab7 !important;
}

.checkbox {
    padding-left: 20px;
}
.checkbox label {
    display: inline-block;
    padding-left: 5px;
    position: relative;
    vertical-align: middle;
}
.checkbox label::before {
    background-color: #fff;
    border: 1px solid #cccccc;
    border-radius: 3px;
    content: "";
    display: inline-block;
    height: 17px;
    left: 0;
    margin-left: -20px;
    position: absolute;
    transition: border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
    width: 17px;
}
.checkbox label::after {
    color: #03a9f4;
    display: inline-block;
    font-size: 11px;
    height: 16px;
    left: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    position: absolute;
    top: 0;
    width: 16px;
}
.checkbox input[type="checkbox"], .checkbox input[type="radio"] {
    cursor: pointer;
    opacity: 0;
    z-index: 1;
}
.checkbox input[type="checkbox"]:focus + label::before, .checkbox input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after, .checkbox input[type="radio"]:checked + label::after {
    content: "";
    font-family: "FontAwesome";
}
.checkbox input[type="checkbox"]:indeterminate + label::after, .checkbox input[type="radio"]:indeterminate + label::after {
    background-color: #03a9f4;
    border-radius: 2px;
    content: "";
    display: block;
    height: 3px;
    margin-left: -16.5px;
    margin-top: 7px;
    width: 10px;
}
.checkbox input[type="checkbox"]:disabled, .checkbox input[type="radio"]:disabled {
    cursor: not-allowed;
}
.checkbox input[type="checkbox"]:disabled + label, .checkbox input[type="radio"]:disabled + label {
    opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before, .checkbox input[type="radio"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}
.checkbox.checkbox-inline {
    margin-top: 0;
}
.checkbox-info input[type="checkbox"]:checked + label::before, .checkbox-info input[type="radio"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
}
.checkbox-info input[type="checkbox"]:checked + label::after, .checkbox-info input[type="radio"]:checked + label::after {
    color: #fff;
}
.checkbox-info input[type="checkbox"]:indeterminate + label::before, .checkbox-info input[type="radio"]:indeterminate + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
}
.checkbox-info input[type="checkbox"]:indeterminate + label::after, .checkbox-info input[type="radio"]:indeterminate + label::after {
    background-color: #fff;
}
.radio {
    padding-right: : 20px;
}
.radio label {
    display: inline-block;
    padding-left: 5px;
    position: relative;
    vertical-align: middle;
}
.radio label::before {
    background-color: #fff;
    border: 1px solid #cccccc;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 30px;
    left: 0px;
    margin-left: 0px;
    position: absolute;
    transition: border 0.15s ease-in-out 0s;
    width: 30px;
}
.radio label::after {
    background-color: #03a9f4;
    border-radius: 50%;
    content: " ";
    display: inline-block;
    height: 18px;
    left: 6px;
    margin-left: -20px;
    position: absolute;
    top: 6px;
    transform: scale(0, 0);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33) 0s;
    width: 18px;
}
.radio.radio-inline > label:after {
    margin-left: 0px;
}
.radio.radio-inline label::after {
    margin-left: 0px;
}
.radio input[type="radio"] {
    cursor: pointer;
    opacity: 0;
    z-index: 1;
}
.radio input[type="radio"]:focus + label::before {
    outline-offset: -2px;
}
.radio input[type="radio"]:hover + label::after {
    transform: scale(0.6, 0.6)
}
.radio input[type="radio"]:checked + label::after {
    transform: scale(1, 1);
}
.radio input[type="radio"]:disabled {
    cursor: not-allowed;
}
.radio input[type="radio"]:disabled + label {
    opacity: 0.65;
}
.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
}
.radio.radio-inline {
    margin-top: 0;
    padding-right: 0;
}
.radio.radio-inline > label {
    padding-left: 35px;
    height: auto;
}

.radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de;
}

input.styled[type="checkbox"]:checked + label::after, input.styled[type="radio"]:checked + label::after {
    content: "";
    font-family: "FontAwesome";
}
input[type="checkbox"] .styled:checked + label::before, input[type="radio"] .styled:checked + label::before {
    color: #fff;
}
input[type="checkbox"] .styled:checked + label::after, input[type="radio"] .styled:checked + label::after {
    color: #fff;
}
.checkbox label, .radio label {
    cursor: pointer;
    font-weight: 400;
    height: 40px;
    line-height: 30px;
    margin-bottom: 0;
    min-height: 30px;
    padding: 0 20px 10px;
}
.checkbox-inline + .checkbox-inline, .radio-inline + .radio-inline {
    margin-left: 0;
    margin-top: 0;
}


/* in carousel */
.welcome {
    font-size: 35px;
    margin-bottom: 0;
}
.welcome2 {
    font-size: 45px;
    font-weight: 700;
    margin: 0 0 50px;
}

.carousel-btns {
    margin-top: 2em; 
}

.carousel-btns .btn {
	width: 150px;
}

.carousel-inner img {
   width: 100%;
}

/*CONTROL*/
.carousel-control {
    width: auto;
}

.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .fa-chevron-left,
.carousel-control .fa-chevron-right {
  position: absolute;
  top: 47%;
  right: 0;
  z-index: 5;
  display: inline-block;
  background-color: #000;
  width: 38px;
  height: 38px;
  line-height: 40px;
  font-size: 14px;
}

.carousel-control .icon-prev,
.carousel-control .fa-chevron-left {
  left: 0;
}

.carousel-indicators li {
  width: 12px;
  height: 12px;
  margin: 0 1px;
  border: 2px solid #fff;
  opacity: .8;
}

.carousel-indicators .active {
    background-color: #28ace2;
    border-color: #28ace2;
}

.carousel-control .icon-prev, .carousel-control .fa-chevron-left,
.carousel-control .icon-right, .carousel-control .fa-chevron-right {
    border-radius: 50px;
}

.carousel-control .icon-prev, .carousel-control .fa-chevron-left {
    left: 30px;
}

.carousel-control .icon-right, .carousel-control .fa-chevron-right {
    right: 30px;
}
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] {
    margin-left: 0px;
}





/*======================== TIMELINE ==========================*/
#timeline {
    margin-bottom: 110px;
}
#timeline h4 {
    text-transform: uppercase;
}
.text-timeline {
    padding: 60px 15px 84px;
}
.timeline-line {
    position: relative;
}
.timeline-line::after {
    background: #03a9f4 none repeat scroll 0 0;
    content: "";
    height: 100%;
    position: absolute;
    right: -83px;
    top: 0;
    width: 1px;
}
.timeline-line::before {
    background: #03a9f4 none repeat scroll 0 0;
    border: 5px solid #c4e5f4;
    border-radius: 50%;
    box-shadow: 0 0 0 13px #f4f4f4;
    box-sizing: content-box;
    content: "";
    height: 13px;
    position: absolute;
    right: -94px;
    top: 38%;
    width: 13px;
    z-index: 1;
}





/*======================== BOX FOOTER ==========================*/
.box-footer {
    background: #e9e9e9 none repeat scroll 0 0;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 10px 10px 0 0;
    padding: 15px 15px 15px 230px;
    text-align: left;
    position: relative;
    margin-top: 80px
}
.box-footer::after {
    background: rgba(0, 0, 0, 0) url("images/box-footer.png") no-repeat scroll 0 0;
    content: "";
    height: 118px;
    left: 70px;
    position: absolute;
    top: -60px;
    width: 162px;
}
.box-footer h4 {
    font-weight: 600;
}






/*======================== FOOTER ==========================*/
.footer {
    background-color: #263f7d;
    bottom: -312px;
    position: absolute;
    width: 100%;
}
.footer > .container {
    padding: 70px 15px 30px;
}
.footer ul {
    margin-bottom: 10px;
    margin-top: 60px;
    text-align: center;
    width: 100%;
}
.footer li {
    display: inline-block;
    float: none;
    text-align: center;
}
.footer .nav.navbar-nav a {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 25px;
}
.footer .nav > li > a:focus, .footer .nav > li > a:hover {
    background-color: #162f6d;
    text-decoration: none;
}






/*======================== CALCULATING ==========================*/
#calculate-box {
    overflow: hidden;
    padding: 11vh 15px;
    background: url(images/result-bg.png) no-repeat 0 0 / contain;
}
.novice #calculate-box {
    background: url(images/result-bg2.png) no-repeat 0 0 / contain;
}
.apprentice #calculate-box {
    background: url(images/result-bg3.png) no-repeat 0 0 / contain;
}
.freshman #calculate-box {
    background: url(images/result-bg4.png) no-repeat 0 0 / contain;
}
.student #calculate-box {
    background: url(images/result-bg5.png) no-repeat 0 0 / contain;
}
.academic #calculate-box {
    background: url(images/result-bg6.png) no-repeat 0 0 / contain;
}
.premium-result #calculate-box {
    background: url(images/result-premium-bg.png) no-repeat 0 0 / contain;
}

.calc-img {
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-name: stars-calc;

    transform: scale(0);
}
-webkit-@keyframes stars-calc {
    0%   {transform: scale(.9)}
    55%  {transform: scale(1.1)}
    100% {transform: scale(.9)}
}
@keyframes stars-calc {
    0%   {transform: scale(.9)}
    55%  {transform: scale(1.1)}
    100% {transform: scale(.9)}
}






/*======================== RESULTS ==========================*/
.test.results .footer {
    bottom: -30px;
}
.stars {
    background: rgba(0, 0, 0, 0) url("images/result-star-disab-bg.png") no-repeat scroll center center / 480px auto;
    box-sizing: border-box;
    clear: both;
    margin: 20px auto;
    overflow: hidden;
    padding: 5px 11px;
    text-align: center;
    width: 490px;
}
.star {
    display: inline-block;
    float: left;
}

.star img {
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-delay: .6s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; 
    
    transform: scale(0);
}
body.loaded .star img {
    animation-name: star-anim;
}
body.loaded .star:nth-child(2) img {
    animation-delay: 1s
}
body.loaded .star:nth-child(3) img {
    animation-delay: 1.4s 
}
body.loaded .star:nth-child(4) img {
    animation-delay: 1.8s
}
body.loaded .star:nth-child(5) img {
    animation-delay: 2.2s
}
body.loaded .star:nth-child(6) img {
    animation-delay: 2.6s
}
-webkit-@keyframes star-anim {
    0%   {transform: scale(0)}
    85%  {transform: scale(1.4)}
    100% {transform: scale(1)}
}
@keyframes star-anim {
    0%   {transform: scale(0)}
    85%  {transform: scale(1.4)}
    100% {transform: scale(1)}
}

.result-text1 {
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; 
    
    transform: scale(0);
    margin-top: 30px;
}
body.loaded .result-text1 {
    animation-name: star-anim-res;
    animation-delay: 3s;
    animation-duration: .3s;
    animation-timing-function: linear;
}
-webkit-@keyframes star-anim-res {
    0%   {transform: scale(0); margin-top: 30px;}
    100% {transform: scale(1); margin-top: 0px;}
}
@keyframes star-anim-res {
    0%   {transform: scale(0); margin-top: 30px;}
    100% {transform: scale(1); margin-top: 0px;}
}


.result-text-div {
    background: #f0ede6 none repeat scroll 0 0;
    border-radius: 5px;
    clear: both;
    overflow: hidden;
    padding: 10px 15px 30px;
}
.results .btn-def {
    background-size: 43px auto;
    padding: 2% 3%;
    width: 300px;
    margin-bottom: 20px;
}


.result-text-div .btn-result {
    float: none !important;
}







/*======================== FB share ==========================*/
.fb-share-button.fb_iframe_widget {
    clear: both !important;
    width: 100%;
}
