
/*======================== NAVIGATION ==========================*/
.test .navbar-default {
    background-color: #03a9f4;
    border-color: transparent;
}

.test .navbar-brand.caveat > img.logo {
    float: left;
    width: 55px;
}
.navbar-brand.caveat > span {
    color: #fff;
    float: left;
    font-size: 34px;
    padding: 10px 16px 20px 36px;
}






/*======================== TESTOVI ==========================*/
#test-box {
    min-height: 900px;
}
.test table {
    background: #eee0c1 none repeat scroll 0 0;
    border-collapse: separate;
    border-radius: 15px;
    border-style: hidden;
    overflow: hidden;
    width: 100%;
}
#msform {
	width: 550px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
    background: #f0ede6 none repeat scroll 0 0;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
    width: 100%;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
#msform input {
    border-radius: 3px;
    display: inline-block;
    font-size: 24px;
    margin-bottom: 10px;
    padding: 15px 35px;
    text-align: left;
    width: 40%;
}

#msform input.btn-signin, .btn-def {
    background-image: url("images/arrow-right.png");
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 25% auto;
    border-radius: 3px;
    display: inline-block;
    font-size: 24px;
    margin-bottom: 10px;
    padding: 15px 35px;
    text-align: left;
    margin-top: 20px;
    float: right;
    width: 224px;
}
#msform input.btn-signin.previous {
    background-image: url("images/arrow-left.png");
    background-position: left 10px center;
    float: left;
    margin: 28px 0 18px;
    padding: 5px 15px;
    text-align: right;
    width: 138px;
}
#msform input.btn-signin.previous.btn-primary {
    background-color: rgba(223, 178, 72, 0.4);
    border-color: rgba(223, 178, 72, 0.5);
}
#msform input.btn-signin.previous.btn-primary:hover {
    background-color: rgba(223, 178, 72, 0.5);
    border-color: rgba(223, 178, 72, 0.4);
    color: #fff;
}

#msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
.test .btn-primary.active, .test .btn-primary:active, .test .open > .dropdown-toggle.btn-primary {
    background-color: #cfa238;
    border-color: #bf9228;
    color: #fff;
}
.test .btn-primary.focus, .test .btn-primary:focus {
    background-color: #cfa238;
    border-color: #bf9228;
    color: #fff;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
.fs-title {
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 15px;
    text-align: left;
}
.fs-subtitle {
    font-size: 15px;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 40px;
    margin-top: 15px;
    text-align: left;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar td {
    height: 16px;
}
#progressbar td.active {
    background: #263f7d none repeat scroll 0 0;
}






/*======================== TEST ==========================*/
.row.testt {
    margin-bottom: 20px;
}
.test1 .dugme-test1 {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #acacac;
    height: 120px;
    width: 120px;
    transition: 200ms all ease;
}
.dugme-test1-boja {
	background: #03a9f4 !important;
	color: #fff
}
.dugme-test1:hover, .img-test1:hover {
	box-shadow: 0px 0px 3px 1px #03a9f4
}
.img-test1 {
	cursor: pointer;
}
.img-test1-boja {
	box-shadow: 0px 0px 3px 1px #03a9f4
}



.test2 .radio.radio-inline {
    display: block;
}
.checkbox-inline, .radio-inline {
	text-align: left;
}

.row.test2 {
    border-bottom: 1px solid #dfb248;
    margin-bottom: 25px;
    padding-bottom: 25px;
}
.row.test2:last-of-type {
    border-bottom: 0 none;
}
.row.test3 {
    line-height: 44px;
}
.row.test3 .selectric {
    background: #fff none repeat scroll 0 0;
}
.row.test3 > div > span {
    float: left;
    line-height: 44px;
}

.row.test3 .selectric-wrapper {
    border: 1px solid #c7b299;
    float: none;
    margin: 0 10px;
    border-radius: 3px;
    min-width: 100px;
    background: #fff;
    width: 130px;
    display: inline-block !important;
    vertical-align: top;
}

.row.test4 > div {
    text-align: left;
}
.row.test4 > div > div {
    background: #fff url("images/drag-icon.png") no-repeat scroll center right 10px;
    border: 1px solid #c7b299;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 300;
    margin: 0 2px 5px;
    float: left;
    padding: 6px 30px 6px 12px;
    cursor: pointer;
    transition: 200ms all ease;
}
.row.test4 > div > div:hover {
    background: #03a9f4 url("images/drag-icon2.png") no-repeat scroll center right 10px;
	color: #fff;
	border-color: #03a9f4
}
.row.test4 > div > div:first-of-type {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 300;
    margin: 0 2px;
    padding: 5px 12px;
}
.row.test4 > div > div:first-of-type:hover {
    background: transparent;
	color: inherit;
	border-color: transparent;
}
.row.test4.test4a > div > div {
    background: #fff url("images/drag-icon.png") no-repeat scroll center right 10px;
    border: 1px solid #c7b299;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 300;
    margin: 0 2px 5px;
    float: left;
    padding: 6px 30px 6px 12px;
    cursor: pointer;
    transition: 200ms all ease;
}
.row.test4.test4a > div > div:hover {
    background: #03a9f4 url("images/drag-icon2.png") no-repeat scroll center right 10px;
    color: #fff;
    border-color: #03a9f4
}

.row.test4.test4a.test4-premium > div > div {
    background: #fff;
    border: 1px solid #c7b299;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 300;
    margin: 0 2px 5px;
    float: left;
    padding: 6px 12px;
    cursor: pointer;
    transition: 200ms all ease;
}
.row.test4.test4a.test4-premium > div > div:hover {
    background: #fff;
    color: #444;
    border-color: #c7b299;
    cursor: default
}

.row.test5 > div {
    text-align: left;
}
.row.test5 > div > div {
    background: #fff url("images/check-wh.png") no-repeat scroll center right 10px;
    border: 1px solid #c7b299;
    border-radius: 3px;
    cursor: pointer;
    float: right;
    font-size: 13px;
    font-weight: 300;
    margin: 0 2px 7px;
    padding: 8px 38px 8px 10px;
    transition: all 200ms ease 0s;
    width: 90%;
}
.row.test5 > div > div:hover {
    background: #fff url("images/check-bl.png") no-repeat scroll center right 10px;
}
.row.test5 > div > div.active-test5 {
    background: #03a9f4 url("images/check-wh.png") no-repeat scroll center right 10px;
    color: #fff
}
.row.test5 > div > div:first-of-type {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    border-radius: 20px;
    float: left;
    font-size: 15px;
    font-weight: 300;
    margin: 0 2px;
    padding: 5px 12px;
    width: 6%;
}
.row.test5 {
    border-bottom: 1px solid #dfb248;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

.row.test6 {
    text-align: left;
}
.row.test6 input[type="text"] {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: transparent none repeat scroll 0 0;
    border-color: #dfb248;
    border-image: none;
    border-radius: 0 !important;
    border-style: none none solid;
    border-width: 0 0 1px;
    font-size: 15px !important;
    font-weight: 400;
    height: 27px;
    margin: 0 10px 8px !important;
    outline: 0 none;
    padding: 5px !important;
    text-align: center !important;
    width: 110px !important;
}
.row.test6 input[type="text"].form-control:focus {
    border-width: 0 0 2px;
    box-shadow: none;
    outline: 0 none;
}





/*====================== PREMIUM =======================*/
.test.premium .navbar-default {
    background-color: #930d49;
    margin-bottom: 30px;
}
.test.premium .test-logo {
    margin: -15px 0 -46px
}
.premium-result #calculate-box {
    padding: 5vh 15px;
}
.premium-result .result-text-div h3 {
    font-size: 22px;
    font-weight: 300;
    line-height: 35px;
}
.row.premium-kolone3 {
    padding: 15px;
}
.premium-kolone3 div {
    border-left: 3px solid #dfb248;
    font-style: italic;
    padding: 0 30px 0 10px;
}
.premium-kolone3b span {
    background: #dfb248 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 24px;
    height: 58px;
    margin: 35px 15px 15px;
    padding: 12px;
    width: 58px;
}
.row.premium-kolone3b.text-center {
    margin-bottom: 40px;
}
.premium-result p {
    line-height: 25px;
}

.test-logo-2 {
    background: #03a9f4 none repeat scroll 0 0;
    display: block;
    margin-top: -30px;
    position: relative;
}
.test-logo-2::after {
    border: 2px solid #fff;
    border-radius: 4px;
    bottom: 0;
    content: "";
    margin: 0.8%;
    position: absolute;
    top: 0;
    width: 98.4%;
}
.test-logo-2 img {
    display: block;
    margin: 0 auto;
    padding: 8px;
    text-align: center;
}





/*====================== PSIHO =======================*/
.img-box.tree {
    background: #f4f4f4 none repeat scroll 0 0;
    clear: both;
    margin: 10px 0;
    padding: 20px 0;
}
.img-box.tree img {
    display: block;
    margin: 0 auto;
}
/*.img-box.tree .tree-wrap {
    position: relative;
}
.apples {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}*/
.apples img {
    width: 46px !important
}
.tree-wrap.active {
    opacity: .7
}





/*====================== GREEN HEADER =======================*/
.test .navbar-default.green-head {
    background-color: #77dd77;
}




/*====================== MEDJUSTRANA =======================*/
#medjustrana {
    background: rgba(0, 0, 0, 0) url("images/medjustrana.png") no-repeat scroll 0 0;
    bottom: 10px;
    height: 0;
    padding: 0;
    position: fixed;
    right: 20px;
    width: 0;
    z-index: 9;
    transition: 300ms all ease-in-out;
    transform: translateY(160px);
    opacity: 0;
    overflow: hidden;
}
#medjustrana.active {
    transform: translateY(0px);
    opacity: 1;
    height: 268px;
    width: 340px;
    padding: 6px 6px 116px;
    z-index: 1000;
}
#medjustrana .caveat {
    font-size: 40px;
}
#medjustrana > p {
    font-size: 18px;
    line-height: 27px;
}
.boldest {
    font-size: 26px;
    font-weight: 700;
}







/*======================== FOOTER ==========================*/
.test .footer {
    bottom: -260px;
}
.test .footer > .container {
    padding: 30px 15px 10px;
}